- breadcrumb :payments, payments
%table.table.table-condensed#payments
  %thead
    %tr
      %th= t('payments.columns.student_name')
      %th= t('payments.columns.amount')
      %th= t('payments.columns.date')
      %th#months
        = t('payments.columns.month_payment')
  %tbody
    = render partial: payments